<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.automation">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DFA_game">

        <activity android:name="com.masrik.automation.Regex2nfa"
            android:exported="false"/>
        <activity android:name="com.masrik.automation.Nfa2dfa"
            android:exported="false"/>
        <activity android:name="com.masrik.automation.Min_dfa"
            android:exported="false"/>
        <activity android:name="com.masrik.automation.Cfg2ll"
            android:exported="false"/>
        <activity android:name="com.masrik.automation.Cfg2cnf"
            android:exported="false"/>

        <activity
            android:name="com.masrik.automation.NewGame"
            android:exported="false" />
        <activity android:name="com.masrik.automation.Correct"
            android:exported="false" />
        <activity android:name="com.masrik.automation.Incorrect"
            android:exported="false"/>


        <activity
            android:name="com.masrik.automation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

    </application>

</manifest>